<header class=" flex flex-col gap-10 lg:flex-row lg:justify-between items-center py-4 px-10 bg-gradient-to-tr from-orange-200 to-blue-400">
<div class=" flex items-center gap-3">
       <img src="https://img.freepik.com/premium-vector/love-movie-logo-design-vector-illustration_685330-3214.jpg" alt="image" class=" h-12 bg-blend-multiply"> <h2 class=" text-4xl">Movie <span class=" text-blue-600">Media</span></h2>
</div>
<nav class=" menu flex">
    <ul class=" flex items-center gap-5 list-unstyled">
        <li><a routerLink="" class=" text-2xl text-white hover:text-blue-600 decoration-0">Home</a></li>
        <li><a routerLink="contact" class=" text-2xl text-white hover:text-blue-600 decoration-0">Contact</a></li>
    </ul>
</nav>
</header>