<section class=" d-flex justify-content-center align-content-center" style="height: 100vh;">
  <div class="container d-flex flex-column justify-content-center align-items-center">
    <h1>Hi There, <br>
I'm <span class=" text-primary">PRASAD</span></h1>
    <p>I love to create <span>Full stack Applications</span></p>
    <div class=" d-flex gap-3">
        <button class=" btn btn-primary">
          <a href="E-portfolio.pdf" class=" text-white text-decoration-none" download>Download Resume <i class="bi bi-download"></i>
</a></button>
        <button class=" btn btn-outline-primary">contact me <i class="bi bi-telephone-fill"></i>
</button>
    </div>
  </div>
</section>