<div class="container py-5">
    <p>You are seeing project number: {{id}}</p>
<h2>{{data[0].title}}</h2>
<button (click)="fun()">click me</button>
  <div *ngIf="isShow">
    <p>{{data[0].description}}</p>
  </div>
<p><strong>creative aspect:</strong>{{data[0].creative_aspect}}</p>
<div>
    <strong>Technologies Used:</strong>
    <span class=" py-2 px-4 bg-secondary-subtle text-black rounded-5 mx-2" *ngFor="let p of data[0].technologies">
       {{p}}
    </span>
</div>
<a href="mailto:prasad@gmail.com">click me</a>
</div>