<app-header></app-header>
<button (click)="changeMode()">click me</button>
  <div class=" products grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-auto max-w-7xl py-10 gap-5" [ngStyle]="{'display':isDark?'none':'grid'}">
    <div class="product p-5 flex flex-col justify-center items-center border-2 rounded-2xl shadow-2xl  shadow-blue-200 hover:shadow-blue-600" *ngFor="let p of products">
      <app-product imgLink={{p.image}} title={{p.title}} 
      [price]="p.price" description={{p.description}}>
    </app-product>
    </div>
  </div>
<app-footer></app-footer>