<header class=" bg-gray-400 flex flex-col md:flex-row items-center justify-between py-3 px-8">
    <div class=" text-4xl text-white">PRASAD.</div>
    <nav>
        <ul class=" flex flex-col md:flex-row  gap-10">
            <li><a routerLink="/" class=" text-2xl text-white hover:text-blue-500">Home</a></li>
            <li><a routerLink="/about" class=" text-2xl text-white hover:text-blue-500">About</a></li>
            <li><a routerLink="/contact" class=" text-2xl text-white hover:text-blue-500">Contact</a></li>
        </ul>
    </nav>
</header>